<footer>
	<nav>
		<a href="https://github.com/rosario252" target="_blank">GitHub</a>
		&#9788;
		<a href="https://rosario252.github.io/" target="_blank">GitHub.io</a>
		&#9788;
		<a href="https://rosario252.github.io/web115/" target="_blank">WEB115.io</a>
		&#9788;
		<a href="https://www.freecodecamp.org/rosario252" target="_blank">freeCodeCamp</a>
		&#9788;
		<a href="https://www.codecademy.com/profiles/rosario252" target="_blank">Codecademy</a>
		&#9788;
		<a href="https://jsfiddle.net/u/rosario252/fiddles/" target="_blank">JSFiddle</a>
		&#9788;
		<a href="http://www.linkedin.com/in/rosario-sanchez23" target="_blank">LinkedIn</a>
	</nav>
	
	<blockquote>
		"Life's a journey - let's thrive, not just survive!" 
	</blockquote>

	<p>Designed by <a href="rosariosenterprisellc.com/index.html">Rosario's Enterprise, LCC</a> &copy; 2025</p>
</footer>