	<header>
		<div>
			<a href="#">
				<img src="images/logobanner.png" alt="Mommii Rozay Logo">
			</a>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Me</a></li>
					<li><a href="brand.html">Blog</a></li>
					<li class="dropdown">
						<a href="#">Contact</a>
						<ul class="submenu">
							<li><a href="contact.html">Contact Form</a></li>
							<li><a href="business-card.html">Business Card</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<h1>Mommii Rozay</h1>
	</header>